@import 'tailwindcss';
@import 'tw-animate-css';

/* Si Tailwind v4 ne détecte pas automatiquement le config */
@config "../../tailwind.config.cjs";

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
